<script src="/scripts/hamburger-menu.js"></script>
<script src="/scripts/validator.js"></script>
<script src="/scripts/animations.js"></script>
<div class="footer"><p>2022 &copy; TrashPass</p></div>
</body>
</html>