<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <title>Trashpass | Sign up today</title>
</head>
<body>
  <div id="home"></div>
    <nav class="nav">
        <div>
        <?xml version="1.0" encoding="UTF-8"?>
        <a href="/"><svg id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1672.17 366">
  <defs>
    <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
      <feOffset dx="3.29" dy="4.39"/>
      <feGaussianBlur result="blur" stdDeviation="3.66"/>
      <feFlood flood-color="#000" flood-opacity=".27"/>
      <feComposite in2="blur" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
    <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
      <feOffset dx="3.29" dy="4.39"/>
      <feGaussianBlur result="blur-2" stdDeviation="3.66"/>
      <feFlood flood-color="#000" flood-opacity=".27"/>
      <feComposite in2="blur-2" operator="in"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <circle class="logo-background" cx="180.02" cy="178.48" r="171.5"/>
      <path class="logo-symbol" d="M168.85,129.54v-2.74c-1.11-.57-1.98-1.44-1.86-3.05,.02-.25-.85-.73-1.37-.85-4-.93-8.07-1.6-12.01-2.75-6.6-1.93-12.89-4.58-17.93-9.5-3.92-3.84-4.58-8.93-1.93-13.75,2.08-3.78,5.18-6.55,8.54-9.14,1.44-1.11,2.78-2.46,3.85-3.94,5.79-7.96,13.51-13.13,22.82-15.97,3.15-.96,4.93,0,6.42,2.96,1.94,3.89,2.96,8.06,3.64,12.33,.21,1.3,.43,2.61,.69,4.18,.74-1.08,1.25-1.99,1.91-2.77,2.85-3.38,6.49-4.56,10.88-4.18,2.58,.22,5.28,.23,7.81-.25,5.25-1,9.35,1.1,13.14,4.23,1.19,.99,1.28,2.49,1,3.99-.68,3.56-2.78,6.39-4.87,9.17-4.52,6.01-9.81,11.33-15.26,16.49-1.87,1.77-3.76,3.53-5.64,5.3-.1,.1-.27,.18-.3,.3-.3,1.05-.49,2.13-.87,3.14-.37,.96-1.73,1.61-.68,2.98,.29,.38,.04,1.17,.04,1.85,1.99,.13,3.99,.22,5.97,.38,11.61,.99,21.87,5.24,30.59,12.96,1.86,1.64,3.32,3.84,4.63,5.98,3.65,5.94,6.52,12.26,7.94,19.11,.88,4.24,1.23,8.6,1.78,12.91,1.59,12.51,3.14,25.02,4.76,37.53,.45,3.46,1.17,6.88,1.59,10.34,.55,4.55,2.87,7.91,6.52,10.48,1.25,.88,2.48,1.78,3.76,2.63,3,1.99,3.13,5.43,.46,7.86-8.27,7.54-18.29,11.13-29.1,12.74-4.85,.72-9.78,.95-14.68,1.21-12.7,.68-25.35,1.75-37.84,4.18-9.75,1.9-19.48,3.94-29.12,6.33-7.92,1.96-15.67,1.58-23.35-.62-5.22-1.5-10.31-3.49-15.4-5.41-2.82-1.06-3.3-3.93-1.18-6.12,1.76-1.81,3.69-3.47,5.35-5.38,3.31-3.82,4.68-8.38,4.59-13.39-.34-19.09,2.06-37.86,6.84-56.31,3.12-12.04,7.46-23.62,14.45-34.02,6.65-9.89,15.12-17.47,27.05-20.36,1.76-.43,3.58-.59,5.37-.87,.36-.06,.72-.13,.98-.18Z"/>
      <path class="logo-text" d="M548.45,182.51c0-10.6,2.44-18.04,7.32-22.32,4.87-4.27,12.35-6.41,22.42-6.41h12.98v-53.63c-8.5,0-16.44,2.4-23.84,7.18-7.4,4.79-13.69,11.29-18.88,19.5v-25.4h-46.26V245.38h46.26v-62.86Z"/>
      <path class="logo-text" d="M628.81,238.19c8.57,5.99,18.13,8.98,28.68,8.98,8.97,0,16.79-1.96,23.48-5.9,6.69-3.93,11.84-9.24,15.46-15.91v20.01h46.26V101.43h-46.26v20.01c-3.62-6.67-8.73-11.97-15.34-15.91-6.61-3.93-14.48-5.9-23.6-5.9-10.54,0-20.1,2.99-28.68,8.98-8.58,5.99-15.34,14.54-20.3,25.66-4.96,11.12-7.43,24.12-7.43,39s2.48,27.93,7.43,39.13c4.96,11.21,11.72,19.8,20.3,25.79Zm26.32-86.85c4.56-5.22,10.3-7.83,17.23-7.83s12.47,2.65,17.11,7.95c4.64,5.3,6.96,12.57,6.96,21.81s-2.32,16.77-6.96,22.07c-4.64,5.3-10.35,7.95-17.11,7.95s-12.67-2.69-17.23-8.08c-4.57-5.39-6.84-12.7-6.84-21.94s2.28-16.72,6.84-21.94Z"/>
      <path class="logo-text" d="M835.21,208.94c-2.21,1.71-5.19,2.57-8.97,2.57-4.88,0-8.97-1.28-12.27-3.85-3.3-2.57-5.27-6.16-5.9-10.78h-44.84c.63,9.58,3.66,18.18,9.09,25.79,5.43,7.61,12.82,13.6,22.19,17.96,9.36,4.36,20.02,6.54,31.98,6.54,11.17,0,20.89-1.92,29.15-5.77,8.26-3.85,14.63-9.11,19.12-15.78,4.48-6.67,6.73-14.2,6.73-22.58,0-10.43-2.4-18.69-7.2-24.76-4.8-6.07-10.38-10.48-16.76-13.21-6.37-2.73-14.36-5.22-23.96-7.44-8.02-1.88-13.85-3.72-17.47-5.52-3.62-1.8-5.43-4.4-5.43-7.83,0-2.73,.98-4.87,2.95-6.41,1.97-1.54,4.84-2.31,8.61-2.31,4.88,0,8.77,1.24,11.68,3.72,2.91,2.48,4.76,6.03,5.55,10.65h41.78c-1.57-15.05-7.32-27.2-17.23-36.43-9.91-9.24-23.52-13.86-40.83-13.86-11.65,0-21.6,2.05-29.86,6.16-8.26,4.11-14.52,9.62-18.76,16.55s-6.37,14.67-6.37,23.22c0,9.92,2.32,17.79,6.96,23.61,4.64,5.82,10.11,10.01,16.4,12.57,6.29,2.57,14.16,4.87,23.6,6.93,8.34,2.05,14.32,3.94,17.94,5.64,3.62,1.71,5.43,4.36,5.43,7.95,0,2.74-1.1,4.96-3.3,6.67Z"/>
      <path class="logo-text" d="M951.32,168.14c0-8.21,1.97-14.66,5.9-19.37,3.93-4.7,9.36-7.05,16.29-7.05s11.88,2.35,15.81,7.05c3.93,4.71,5.9,11.16,5.9,19.37v77.23h46.26v-83.9c0-18.82-4.45-33.74-13.34-44.77-8.89-11.03-20.89-16.55-35.99-16.55-9.13,0-17.19,2.01-24.19,6.03-7,4.02-12.55,9.28-16.64,15.78v-54.58h-46.26V245.38h46.26v-77.23Z"/>
      <path class="logo-text" d="M1181.56,238.19c8.57-5.99,15.34-14.58,20.3-25.79,4.96-11.2,7.43-24.25,7.43-39.13s-2.48-27.88-7.43-39c-4.96-11.12-11.72-19.67-20.3-25.66-8.58-5.99-18.14-8.98-28.68-8.98-8.97,0-16.76,1.97-23.37,5.9-6.61,3.94-11.72,9.24-15.34,15.91v-20.01h-46.26v212.71h46.26v-88.78c3.78,6.67,8.93,11.98,15.46,15.91,6.53,3.94,14.28,5.9,23.25,5.9,10.54,0,20.1-2.99,28.68-8.98Zm-60.42-42.85c-4.64-5.3-6.96-12.66-6.96-22.07s2.32-16.51,6.96-21.81c4.64-5.3,10.34-7.95,17.11-7.95s12.47,2.61,17.11,7.83c4.64,5.22,6.96,12.53,6.96,21.94s-2.32,16.55-6.96,21.94c-4.64,5.39-10.35,8.08-17.11,8.08s-12.47-2.65-17.11-7.95Z"/>
      <path class="logo-text" d="M1249.53,238.19c8.57,5.99,18.13,8.98,28.68,8.98,8.97,0,16.79-1.96,23.48-5.9,6.69-3.93,11.84-9.24,15.46-15.91v20.01h46.26V101.43h-46.26v20.01c-3.62-6.67-8.73-11.97-15.34-15.91-6.61-3.93-14.48-5.9-23.6-5.9-10.54,0-20.1,2.99-28.68,8.98-8.58,5.99-15.34,14.54-20.3,25.66-4.96,11.12-7.43,24.12-7.43,39s2.48,27.93,7.43,39.13c4.96,11.21,11.72,19.8,20.3,25.79Zm26.32-86.85c4.56-5.22,10.3-7.83,17.23-7.83s12.47,2.65,17.11,7.95c4.64,5.3,6.96,12.57,6.96,21.81s-2.32,16.77-6.96,22.07c-4.64,5.3-10.35,7.95-17.11,7.95s-12.67-2.69-17.23-8.08c-4.57-5.39-6.84-12.7-6.84-21.94s2.28-16.72,6.84-21.94Z"/>
      <path class="logo-text" d="M1455.93,208.94c-2.21,1.71-5.19,2.57-8.97,2.57-4.88,0-8.97-1.28-12.27-3.85-3.3-2.57-5.27-6.16-5.9-10.78h-44.84c.63,9.58,3.66,18.18,9.09,25.79,5.43,7.61,12.82,13.6,22.19,17.96,9.36,4.36,20.02,6.54,31.98,6.54,11.17,0,20.89-1.92,29.15-5.77,8.26-3.85,14.63-9.11,19.12-15.78,4.48-6.67,6.73-14.2,6.73-22.58,0-10.43-2.4-18.69-7.2-24.76-4.8-6.07-10.38-10.48-16.76-13.21-6.37-2.73-14.36-5.22-23.96-7.44-8.02-1.88-13.85-3.72-17.47-5.52-3.62-1.8-5.43-4.4-5.43-7.83,0-2.73,.98-4.87,2.95-6.41,1.97-1.54,4.84-2.31,8.61-2.31,4.88,0,8.77,1.24,11.68,3.72,2.91,2.48,4.76,6.03,5.55,10.65h41.78c-1.57-15.05-7.32-27.2-17.23-36.43-9.91-9.24-23.52-13.86-40.83-13.86-11.65,0-21.6,2.05-29.86,6.16-8.26,4.11-14.52,9.62-18.76,16.55-4.25,6.93-6.37,14.67-6.37,23.22,0,9.92,2.32,17.79,6.96,23.61,4.64,5.82,10.11,10.01,16.4,12.57,6.29,2.57,14.16,4.87,23.6,6.93,8.34,2.05,14.32,3.94,17.94,5.64,3.62,1.71,5.43,4.36,5.43,7.95,0,2.74-1.1,4.96-3.3,6.67Z"/>
      <path class="logo-text" d="M1590.93,208.94c-2.21,1.71-5.19,2.57-8.97,2.57-4.88,0-8.97-1.28-12.27-3.85-3.3-2.57-5.27-6.16-5.9-10.78h-44.84c.63,9.58,3.66,18.18,9.09,25.79,5.43,7.61,12.82,13.6,22.19,17.96,9.36,4.36,20.02,6.54,31.98,6.54,11.17,0,20.89-1.92,29.15-5.77,8.26-3.85,14.63-9.11,19.12-15.78,4.48-6.67,6.73-14.2,6.73-22.58,0-10.43-2.4-18.69-7.2-24.76-4.8-6.07-10.38-10.48-16.76-13.21-6.37-2.73-14.36-5.22-23.96-7.44-8.02-1.88-13.85-3.72-17.47-5.52-3.62-1.8-5.43-4.4-5.43-7.83,0-2.73,.98-4.87,2.95-6.41,1.97-1.54,4.84-2.31,8.61-2.31,4.88,0,8.77,1.24,11.68,3.72,2.91,2.48,4.76,6.03,5.55,10.65h41.78c-1.57-15.05-7.32-27.2-17.23-36.43-9.91-9.24-23.52-13.86-40.83-13.86-11.65,0-21.6,2.05-29.86,6.16-8.26,4.11-14.52,9.62-18.76,16.55-4.25,6.93-6.37,14.67-6.37,23.22,0,9.92,2.32,17.79,6.96,23.61,4.64,5.82,10.11,10.01,16.4,12.57,6.29,2.57,14.16,4.87,23.6,6.93,8.34,2.05,14.32,3.94,17.94,5.64,3.62,1.71,5.43,4.36,5.43,7.95,0,2.74-1.1,4.96-3.3,6.67Z"/>
      <path class="logo-text" d="M479.91,267.69h-13.36c-3.94,0-6.72-.86-8.38-2.57-1.65-1.71-2.48-4.53-2.48-8.47v-113.4h24.08v-41.82h-24.08v-34.05h-46.49v34.05h-16.29v41.82h16.29v112.63c0,36.43,16.91,54.65,50.74,54.65h20.06v-.09h561.54v-43.05H479.91v.29Z"/>
      <polygon class="logo-text" points="1672.17 286.76 1632.51 247.09 1620.08 259.52 1627.89 267.33 1141.48 267.33 1141.48 310.38 1624.45 310.38 1619.92 314.91 1632.35 327.33 1672.01 287.67 1671.63 287.29 1672.17 286.76"/>
    </g>
  </g>
        </svg></a>

        <div class="hamburger-menu">
            <div class="hamburger-menu-line menu-top-line"></div>
            <div class="hamburger-menu-line menu-middle-line"></div>
            <div class="hamburger-menu-line menu-bottom-line"></div>
        </div>
        </div>

        <ul class="nav-list-mobile">
          <li><a href="/#home" class="mobile-nav-item">Home</a></li>
          <li><a href="/#about-us" class="mobile-nav-item">About</a></li>
        </ul>

        <ul class="nav-list-desktop">
          <li><a href="/#home">Home</a></li>
          <li><a href="/#about-us">About</a></li>
        </ul>

    </nav>