<%- include('partials/header') -%>
<div class="hero registered-hero">
    <div class="heading-container">
    <img src="/images/thumbs-up.svg" alt="">
    <h1 class="hero-heading">We're glad to have you on board.</h1>
    <h2>A member of our team will contact you <span class="accented-text">shortly</span>.</h2>
    </div>
</div>
<%- include('partials/footer') -%>